<div class="user-row">
  <div class="img-col">
    <div class="img-div">
      <img
        src="/assets/images/Necro.png"
        onclick="openModal();currentSlide(1)"
        class="hover-shadow"
      />
    </div>
    <div class="img-div">
      <img
        src="/assets/images/Necro2.png"
        onclick="openModal();currentSlide(2)"
        class="hover-shadow"
      />
    </div>
    <div class="img-div">
      <img
        src="/assets/images/Necro3.png"
        onclick="openModal();currentSlide(3)"
        class="hover-shadow"
      />
    </div>
  </div>
  <div class="rate-col">
    <div>
      <button class="blue-button">Rate Outfit</button>
    </div>
  </div>
</div>
