<div  >
  <div class="user-row" *ngFor="let sub of subs">
    <div class="img-col">
      <div class="img-div">
        <img
          src="/assets/images/submissions/{{sub}}/1.png"
          onclick="openModal();currentSlide(1)"
          class="hover-shadow"
        />
      </div>
      <div class="img-div">
        <img
          src="/assets/images/submissions/{{sub}}/2.png"
          onclick="openModal();currentSlide(2)"
          class="hover-shadow"
        />
      </div>
      <div class="img-div">
        <img
          src="/assets/images/submissions/{{sub}}/3.png"
          onclick="openModal();currentSlide(3)"
          class="hover-shadow"
        />
      </div>
    </div>
    <div class="rate-col">
      <div>
        <button class="blue-button">Rate Outfit</button>
      </div>
    </div>
  </div>
</div>
