.flex-container {
  display: flex;
}

.nav {
  height: 5rem;
  overflow: hidden;
  background-color: #000;
  box-shadow: 3px 3px 2px 2px rgb(109 105 97 / 12%),
    2px 3px 3px 2px rgb(242 240 214 / 5%);
  border-radius: 0 0 10px 10px;
  /* position: fixed; */
}

.img-contain {
  height: 100%;
  object-fit: contain;
}

.div-contain {
  height: 100%;
}

.nav-ul {
  display: flex;
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
  justify-content: space-evenly;
  width: 100%;
}

.nav-ul li {
  width: 100%;
  text-align: center;
}

.nav-ul li a {
  color: azure;
  font-family: cursive;
  text-decoration: none;
  padding: 5%;
  display: block;
}

.nav-ul li a:hover {
  background-color: rgb(59, 59, 59);
  border-radius: 5px;
}

#logo1-div {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-div {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
