<div>
  <div class="alert">
    <ngb-alert [dismissible]="false">
      <strong>Alert!</strong> If you are a judge, please login below and
      <strong>then</strong>
      click on the Submissions tab above.
    </ngb-alert>
  </div>
  <div class="description-div">
    <h3>Outfit Contest</h3>
    <p>
      Welcome to Undaunted Insomniac's first Class Outfit Contest! With all the
      motifs flying around, we thought now would be a great time for everyone to
      show off their ESO drip. <br />
      The
      <a target="_blank" href="https://discord.gg/undauntedinsomniacs"
        >rules
      </a>
      are simple, and the prizes are BIG! The goal is to submit an outfit that
      you think best represents your characters class (Templar, Dragonknight,
      Necromancer, Warden, Sorceror, or Nightblade). One winner from each class
      will be chosen and EACH winner will receive 1 MILLION gold! To enter,
      simply post screenshot(s) of your character to
      <a target="_blank" href="https://discord.gg/undauntedinsomniacs"
        >#class-contest-submissions</a
      >. Entries close
      <strong class="text-red">11:59pm PDT on April 16th</strong>, and the
      winners will be announced on April 17th!
    </p>
  </div>
  <div #loginDiv class="login-parent">
    <div class="login-div">
      <section class="login-section">
        <h2 class="login-head">Login As Judge</h2>
        <!-- <p class="valid">Valid. Please wait a moment.</p>
      <p class="error">Error. Please enter correct Username &amp; password.</p> -->
        <form class="loginbox" autocomplete="off">
          <input placeholder="Username" type="text" #username />
          <input placeholder="Password" type="password" #password />
          <button
            id="login-submit"
            (click)="login(username.value, password.value)"
          >
            Login
          </button>
        </form>
      </section>
    </div>
  </div>
  <div class="login-alert-div">
    <p #successAlert class="no-display">
      <ngb-alert [type]="success" [dismissible]="false">
        <b>Login Successful!</b> Please go to the submissions to rate the
        outfits!
      </ngb-alert>
    </p>
    <p #failAlert class="no-display">
      <ngb-alert [type]="danger" [dismissible]="false">
        <b>Login failed!</b> Please try again or reach out to site Admin!
      </ngb-alert>
    </p>
  </div>
</div>
