<div class="description-div">
  <h3>About</h3>
  <p>
    Undaunted Insomniacs is a community focused on bettering skills and
    improving at ESO. We feature a guild and a discord of the same name, and
    take pride and passion in helping others become more experienced, more
    comfortable, and pull higher numbers. As long as you are willing to learn,
    there is information here to help you.
  </p>
  <p>
    We have a friendly community of players experienced with different play
    styles and classes. Within the Undaunted Insomniacs discord, you can ask
    questions and get one-on-one help about your build and how to change it.
  </p>
  <p>
    We’d love to have you along for the ride – whether you’re an old player
    looking to participate in some vet content, or a new player hoping to
    improve, you’re always welcome with Undaunted Insomniacs.
  </p>
</div>
