/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("/assets/images/eso-bg2.jpg");
    background-size: cover;
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    /* padding: 1rem; */
}